ColumnLimit: 100
IndentWidth: 4
TabWidth: 4
AlignConsecutiveAssignments:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false
AlignConsecutiveDeclarations:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: false
AlignConsecutiveMacros:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: false
AlignTrailingComments:
  Kind: Always
AllowShortIfStatementsOnASingleLine: AllIfsAndElse

BinPackArguments: false
BinPackParameters: false

DisableFormat: true
